{% extends 'base.html' %}
{% block content %}
<table>
  <tr>
    <th>Topic</th>
    <th>Level</th>
    <th>Total Votes</th>
    {% if can_vote %}
    <th>Vote</th>
    {% endif %}
  </tr>
  {% for topic_proposal in topic_proposals %}
  <tr>
    <td>{{ topic_proposal.topic }}</td>
    <td>{{ topic_proposal.level }}</td>
    <td>{{ topic_proposal.vote_total }}</td>
    {% if can_vote %}
    <td>
      <a href="{% url 'topic_proposal_list' %}?vote_for={{ topic_proposal.pk }}">vote</a>
    <td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{%endblock%}