<footer class="page-footer grey lighten-3 black-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="">Python Alicante</h5>
                <p class="">Python Alicante es la comunidad local de la provincia de Alicante. Nos dedicamos a hacer eventos una vez al mes. Estos eventos son charlas y/o talleres donde mostramos Python a todas las personas que quieran aprender, a la vez de hacer comunidad y explorar nuevos campos, ideas, proyectos, etc... entre todas.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Redes sociales</h5>
                <ul>
                    <li><a href="#!">Twitter (@python_alc)</a></li>
                    <li><a href="#!">Github (@python_alc)</a></li>
                    <li><a href="#!">Telegram (@python_alc)</a></li>
                    <li><a href="#!">MeetUp (@python_alc)</a></li>
                    <li><a href="#!">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2020 Python Alicante
        </div>
    </div>
</footer>
